#right
{
  display: inline-block;
  float: right;

}
.btn
{
  margin-right: 160px;
  background-color: aqua;
  margin-top: 20px;
  height: 50px;
  width: 150px;
  border: 2px solid aqua transparent;
  border-radius: 10px;
}
.head
{
  display: inline-block;
  margin-top: 180px;
  margin-left: 380px;
}
.about
{
  display: inline-block;
  margin-top: 180px;
  margin-left: 380px;
}
#projects
{
  display: inline-block;
  margin-top: 80px;
  margin-left: 380px;
} 
.para
{
  display: inline-block;
  margin-left: 30px;
  font-size: 20px;
}
